* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 15px 30px;
    justify-content: space-between;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

header ul a {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    header ul {
        flex-direction: column;
    }
}

.services {
    padding: 60px 30px;
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);

}


@media screen and (max-width: 768px) {
    .services {
        row-gap: 30px;

        padding: 15px;
        grid-template-columns: repeat(1, 1fr);
    }

    .services .service {
        padding: 15px;
        background: orange;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
    }

    .services .service img {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }
}

@media screen and (min-width: 768px) {
    .services .service {
        background-color: green;
    }
}